.toggler {
  font-size: 13px;
  color: #1d5faf;
  text-align: right;
}

.toggler span {
  padding-left: 1.5em;
}

.toggler span:hover {
  cursor: pointer;
}

td, th {
  padding: .5em 1em;
}

.stats-table {
  margin-top: 2em;
}

.week {
  font-size: 15px;
}

.day {
  font-size: 15px;
  color: #888;
}

.date-info {
  text-align: center;
}